<header class="header--principal">
    <div class="container">
        <div class="header--container center">
            <div class="header--logo">
                <a routerLink="/">
                    <img src="assets/images/logo.png" alt="">
                </a>
            </div>

        </div>
    </div>
</header>
<section class="simple--content">

    <div class="container">

        <div class="error--404">
            <img src="assets/images/404.png" alt="">
        </div>

    </div>
</section>

<footer class="footer white" id="footer">
    <div class="container center">
        <div class="footer--copyrate black">
            <span>
                Todos los derechos reservados
            </span>
        </div>

    </div>
</footer>
